<section class="advertisement">
  <div class="container advertisement-container">
    <div class="advertisement-text-container">
      <h2 class="advertisement-title">advertisement</h2>
      <p class="advertisement-text">
        Choose <span class="advertisement-text-span">your story</span>, making
        every moment unique. Time is your style, and we reveal it.
      </p>
    </div>
    <div class="advertisement-link-container">
      <a href="#contact-us" class="advertisement-link">Contact Us</a>
    </div>
  </div>
</section>
