<section class="Catalog" id="catalog-main">
  <div class="container">
    <h2 class="Catalog-title">Catalog</h2>
    <ul class="Catalog-list">
      <li class="Catalog-item">
        <div class="function-dopcontainer-big">
          <picture>
            <source
              srcset="
                /img/catalog/watch1-comp-1x.webp 1x,
                /img/catalog/watch1-comp-2x.webp 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/catalog/watch1-tab-1x.webp 1x,
                /img/catalog/watch1-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/catalog/watch1-mobil-1x.webp 1x,
                /img/catalog/watch1-mobil-1x.webp 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="function-picture"
              src="/img/catalog/watch1-comp-1x.webp"
              alt="Watch"
              width="360"
            />
          </picture>
        </div>
        <div class="function-dopcontainer">
          <h3 class="Catalog-title-watch">
            Garmin Fenix 7X Pro Sapphire Solar
          </h3>
          <p class="Catalog-price">€500</p>
        </div>
      </li>
      <li class="Catalog-item">
        <div class="function-dopcontainer-big">
          <picture>
            <source
              srcset="
                /img/catalog/watch2-comp-1x.webp 1x,
                /img/catalog/watch2-comp-2x.webp 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/catalog/watch2-tab-1x.webp 1x,
                /img/catalog/watch2-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/catalog/watch2-mobil-1x.webp 1x,
                /img/catalog/watch2-mobil-1x.webp 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="function-picture"
              src="/img/catalog/watch2-comp-1x.webp"
              alt="Watch"
              width="360"
            />
          </picture>
        </div>
        <div class="function-dopcontainer">
          <h3 class="Catalog-title-watch">Garmin Marq Athlete</h3>
          <p class="Catalog-price">€450</p>
        </div>
      </li>
      <li class="Catalog-item">
        <div class="function-dopcontainer-big">
          <picture>
            <source
              srcset="
                /img/catalog/watch3-comp-1x.webp 1x,
                /img/catalog/watch3-comp-2x.webp 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/catalog/watch3-tab-1x.webp 1x,
                /img/catalog/watch3-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/catalog/watch3-mobil-1x.webp 1x,
                /img/catalog/watch3-mobil-1x.webp 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="function-picture"
              src="/img/catalog/watch3-comp-1x.webp"
              alt="Watch"
              width="360"
            />
          </picture>
        </div>
        <div class="function-dopcontainer">
          <h3 class="Catalog-title-watch">Garmin Descent MK1</h3>
          <p class="Catalog-price">€680</p>
        </div>
      </li>
      <li class="Catalog-item">
        <div class="function-dopcontainer-big">
          <picture>
            <source
              srcset="
                /img/catalog/watch4-comp-1x.webp 1x,
                /img/catalog/watch4-comp-2x.webp 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/catalog/watch4-tab-1x.webp 1x,
                /img/catalog/watch4-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/catalog/watch4-mobil-1x.webp 1x,
                /img/catalog/watch4-mobil-1x.webp 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="function-picture"
              src="/img/catalog/watch4-comp-1x.webp"
              alt="Watch"
              width="360"
            />
          </picture>
        </div>
        <div class="function-dopcontainer">
          <h3 class="Catalog-title-watch">Garmin D2 Delta PX</h3>
          <p class="Catalog-price">€380</p>
        </div>
      </li>
      <li class="Catalog-item Catalog-item-notMobil">
        <div class="function-dopcontainer-big">
          <picture>
            <source
              srcset="
                /img/catalog/watch5-comp-1x.webp 1x,
                /img/catalog/watch5-comp-2x.webp 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/catalog/watch5-tab-1x.webp 1x,
                /img/catalog/watch5-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="function-picture"
              src="/img/catalog/watch5-comp-1x.webp"
              alt="Watch"
              width="360"
            />
          </picture>
        </div>
        <div class="function-dopcontainer">
          <h3 class="Catalog-title-watch">Garmin Fenix 6 Pro Solar</h3>
          <p class="Catalog-price">€400</p>
        </div>
      </li>
      <li class="Catalog-item Catalog-item-notMobil">
        <div class="function-dopcontainer-big">
          <picture>
            <source
              srcset="
                /img/catalog/watch6-comp-1x.webp 1x,
                /img/catalog/watch6-comp-2x.webp 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/catalog/watch6-tab-1x.webp 1x,
                /img/catalog/watch6-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="function-picture"
              src="/img/catalog/watch6-comp-1x.webp"
              alt="Watch"
              width="360"
            />
          </picture>
        </div>
        <div class="function-dopcontainer">
          <h3 class="Catalog-title-watch">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="Catalog-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="Catalog-btm">Show more</button>
  </div>
</section>
