<section class="sale" id="sale-main">
  <div class="sale-wrapper container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-list-wraper">
      <ul class="sale-list">
        <li class="sale-list-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-1-tab-min.png    1x,
                /img/sale/watch-1-tab-2x-min.png 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/sale/watch-1-tab-min.png    1x,
                /img/sale/watch-1-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/watch-1-mob-min.png    1x,
                /img/sale/watch-1-mob-2x-min.png 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="sale-list-img"
              src="/img/sale/watch-1-mob-min.png"
              alt="watch straight view"
              width="96"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-2-tab-min.png    1x,
                /img/sale/watch-2-tab-2x-min.png 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/sale/watch-2-tab-min.png    1x,
                /img/sale/watch-2-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/watch-2-mob-min.png    1x,
                /img/sale/watch-2-mob-2x-min.png 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="sale-list-img"
              src="../img/sale/watch-2-mob-min.png"
              alt="watch straight view"
              width="96"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-3-tab-min.png    1x,
                /img/sale/watch-3-tab-2x-min.png 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/sale/watch-3-tab-min.png    1x,
                /img/sale/watch-3-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/watch-3-mob-min.png    1x,
                /img/sale/watch-3-mob-2x-min.png 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="sale-list-img"
              src="/img/sale/watch-3-mob-min.png"
              alt="watch straight view"
              width="96"
            />
          </picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source
              srcset="
                /img/sale/watch-4-tab-min.png    1x,
                /img/sale/watch-4-tab-2x-min.png 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/sale/watch-4-tab-min.png    1x,
                /img/sale/watch-4-tab-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/watch-4-mob-min.png    1x,
                /img/sale/watch-4-mob-2x-min.png 2x
              "
              media="(max-width:768px)"
            />
            <img
              class="sale-list-img"
              src="/img/sale/watch-4-mob-min.png"
              alt="watch straight view"
              width="96"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="sale-zoom-item">
      <picture>
        <source
          srcset="
            /img/sale/watch-5-tab-min.png    1x,
            /img/sale/watch-5-tab-2x-min.png 2x
          "
          media="(min-width: 1158px)"
        />
        <source
          srcset="
            /img/sale/watch-5-tab-min.png    1x,
            /img/sale/watch-5-tab-2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/sale/watch-5-mob-min.png    1x,
            /img/sale/watch-5-mob-2x-min.png 2x
          "
          media="(max-width:768px)"
        />
        <img
          class="sale-list-img"
          src="/img/sale/watch-5-mob-min.png"
          alt="watch straight view"
          width="96"
        />
      </picture>
    </div>
    <div class="sale-descr">
      <h3 class="sale-descr-subtitle">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-descr-tag">Product tag: 706587</p>
      <div class="sale-descr-prices">
        <p class="sale-descr-prices-relevant">€1500</p>
        <p class="sale-descr-prices-crossed">€3000</p>
      </div>
      <p class="sale-descr-text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-descr-list">
        <li class="sale-descr-list-item">
          <p class="sale-descr-list-text">Fused carbon fiber</p>
        </li>
        <li class="sale-descr-list-item">
          <p class="sale-descr-list-text">Grade-5 Titanuim</p>
        </li>
        <li class="sale-descr-list-item">
          <p class="sale-descr-list-text">Athlete</p>
        </li>
        <li class="sale-descr-list-item">
          <p class="sale-descr-list-text">Golfer</p>
        </li>
        <li class="sale-descr-list-item">
          <p class="sale-descr-list-text">Commander</p>
        </li>
        <li class="sale-descr-list-item">
          <p class="sale-descr-list-text">Adventurer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
